.container {
	width: 80%;
    margin: auto;
	max-height: 100vh;
	display: grid;
	width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto 100px;
    grid-template-areas: 
        "header"
        "mainContent"
        "footer";
}