.title {
    margin-top: 0;
    text-decoration: underline;
}

.nav-bar{
    grid-area:header;
    box-shadow: 0 5px 5px -5px #333;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    gap: 30px;
}

.nav-bar a:hover {
    background-color: #ddd;
    color: black;
  }

.header-back{
    color: #333;
    text-decoration: underline;
    order: 1;
}

.header-subscribe{
    color: #333;
    text-decoration: underline;
    order: 2;
    
}

.header-title {
    color: #333;
    text-decoration: underline;
    order: 3;
}

.header-search{
    color: #333;
    text-decoration: underline;
    order: 4;
}

@media (max-width: 400px) {
    .nav-bar{
        padding-right: 50px;
    }

    .header-back{
        width: 10px;
        order: 1;
        margin: 5px;
    }
    
    .header-subscribe{
        width: 10px;
        order: 2;
        margin: 15px;
    }
    
    .header-title {
        order: 3;
        margin-left: 75px;
        align-self: center;
        font-size: 12px;
    }
    
    .header-search{
        width: 10px;
        order: 4;
        margin: 15px;
    }
}