.blog-subheading {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: flex-start;
}

.blog-author {
    display: inline;
    font-size: 1rem;
    color: rgb(108, 108, 108);
    text-decoration: none;
    font-style: italic;
}

.blog-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-img {
    width: 600px;
    height: 300px;
    align-self: center;
}

.blog-img-caption {
    text-align: center;
}

.avatar {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('../images/personal-informal.jpeg');
    background-size: cover;
    border-radius: 50%;
    margin-left: 10%;
}

.blog-first {
    font-style: italic;
}

@media (max-width: 767px){
	.blog-img {
        width: 250px;
        height: 125px;
    }
}